@use 'sass:map';
@use '../utils/helpers.scss';
@use '../utils/colors.scss' as *;

.editable-topic {
    cursor: pointer;
    border-radius: 3px;
    padding: 8px 17px 7px;
    margin-right: 3px;
    font-size: helpers.toRem(11);
    color: map.get($colors, "white");
    background-color: rgba(map.get($colors, "gray"), 0.5);
    &:hover {
        background-color: rgba(lighten(map.get($colors, "gray"), 10), 0.5);
    }
}