@use 'sass:map';
@use '../utils/helpers.scss';
@use '../utils/colors.scss' as *;

.new-topic-form {
    display: inline;
    position: relative;
    z-index: 10;
    input {
        background-color: transparent;
        border-bottom: 2px map.get($colors, "white") solid;
        border-radius: 0;
        width: 140px;
        padding: 3px 53px 3px 4px;
        margin-right: 3px;
        margin-bottom: 3px;
        &::placeholder {
            color: map.get($colors, "light-gray");
        }
    }
}
.new-topic-form-controls {
    display: inline-block;
    left: auto;
    top: auto;
    padding-top: 2px;
    transform: translateX(-100%);
    &__submit, &__close {
        background-color: transparent;
        color: map.get($colors, "white");
        cursor: pointer;
        &::after {
            font-family: "FontAwesome";
            font-size: helpers.toRem(20);
        }
    }
    &__submit::after {content: '\f00c';}
    &__close::after {content: '\f00d';}
}

.editable-topic {
    cursor: pointer;
    border-radius: 3px;
    padding: 9px 17px 9px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: helpers.toRem(12);
    color: map.get($colors, "white");
    background-color: rgba(map.get($colors, "gray"), 0.5);
    &:hover {
        background-color: rgba(lighten(map.get($colors, "gray"), 10), 0.5);
    }
}

.topic {
    cursor: pointer;
    border-radius: 3px;
    padding: 9px 17px 9px;
    margin-right: 3px;
    margin-bottom: 3px;
    font-size: helpers.toRem(14);
    color: map.get($colors, "white");
    background-color: rgba(map.get($colors, "gray"), 0.5);
    &:hover {
        background-color: rgba(lighten(map.get($colors, "gray"), 10), 0.5);
    }
}