@use 'sass:map';
@use './colors.scss' as *;
@use './typography.scss' as *;
@use './helpers.scss';

body, div, li {margin: 0; padding: 0; left: 0; top: 0;}
li {list-style: none;}
ul {padding-left: 5px;}

h1, h2, h3, h4, h5, h6, span, p, small, label, input, a, ul, li, textarea {
    color: map.get($colors, "white");
    font-family: $font-primary;
}
a { text-decoration: none;}

input {
    border-radius: 3px;
    padding: 10px 5px 10px 12px;
    border: none;
    width: 300px;
    outline: none;
    &::placeholder {
        color: lighten(map.get($colors, "black"), 15);
    }
}

textarea { border-radius: 3px; outline: none;}

button {border: none;}
* {
    box-sizing: border-box;
}

.edit-cover {
    z-index: 5;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

.add-topic-btn {
    @include helpers.style-button;
    padding-right: 12px;
    display: block;
}